

ion-card-title {
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  text-shadow: 2px 1px 4px rgba($color: #a3a3a3, $alpha: 1.0);
  color: rgb(0, 0, 0);
}

ion-card {
  background-color: var(--ion-color-primary);
}

ion-card-subtitle {
  color: rgb(0, 0, 0);
  font-family:'Courier New', Courier, monospace;
}