// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /* --ion-color-primary: #a41e22;
  --ion-color-primary-rgb: 78,86,166;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #ffffff;
  --ion-color-primary-tint: #ad3538; */

  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 90,78,68;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #4a8542;
  --ion-color-secondary-rgb: 74,133,66;
  --ion-color-secondary-contrast: #5e2424; 
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #41753a;
  --ion-color-secondary-tint: #5c9155;

  --ion-color-tertiary: #b13dff;
  --ion-color-tertiary-rgb: 78,86,166;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #9c36e0;
  --ion-color-tertiary-tint: #b950ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 90,78,68;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
  --ion-background-color: #ffffff;
}

.sidebar-title {
  font-size: 27px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 2px 15px rgba($color: #050505, $alpha: 1.0);
  
}

ion-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline-color: #000000;
  text-shadow: 1px 1px 3px rgba($color: #313f41, $alpha: 1.0);
  text-align: center;
  
}

.ion-text-left {
  background-color: white;
  
}


.toast-custom-class {
  --border-width: 3px;
  --background: white;
  --color: "black";
  --width: 150px;
  --height: 50px;
  --box-shadow: 2px 2px 5px;
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 2px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}








