ion-img {
  height: 100px;
}

ion-card-title {
  color: rgb(0, 0, 0);
}

ion-card-subtitle {
  font-size: 15px;
  text-align: center;
  color: #000000;
  
  
  
}

ion-text {
  text-align: center;
}

ion-card {
  display:list-item;
  height:fit-content;
  box-shadow: 2px 2px 5px;
  align-content: center;
  background-color: #dddddd;
  
}

ion-toolbar {
  text-align: center;
}

ion-header {
  text-align: center;
}

ion-card-content {
  text-align: center;
}